body {
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: white;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
